<div class="container">
  <h1>&ldquo;<%= @post.title %>&rdquo;</h1>
  
  

  <div class="content">
    <p><%= @post.body %></p>
     
     <div class="tag_listing">
        <ul>
        <% @post.tags.each do |tag| %>
          <li><a href="/tag/<%= tag.id %>"><%= tag.name %></a></li>
        <% end %>
       </ul>
     </div>   

    <div class="bottom_links">
      <a href="/" class="newpost">Back to All Posts</a>

      

      <a href="/posts/<%= @post.id %>/edit" class="newpost">Edit Post</a>

      <form action="/posts/<%= @post.id %>" method="post">
        <input type="hidden" name="_method" value="delete" /> 
        <input type="submit" class="newpost" value="Delete Post" />
      </form>
    </div>
  </div>
 
